@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4CAF50;
    border-radius:5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #45a049;
  }

body,html {
    height:100%;
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
    font-size:1.5rem;
    user-select: none;
}
hr {
    width:90%;
    border:1px solid black;
    border-radius:8px;
    background-color:Black;
    height:1px;
}
#valtb {
    margin:20px 20px;
    width:85%; 
    position:absolute;
    top:0;
    font-size:1rem;
    font-weight:500;
    background-color:#4CAF50;
    padding:10px;
    color:white;
    border-radius:5px;
    user-select: none;
}
#valtb:hover {
    cursor: pointer;
}
#valtb:active {
    background-color:#45a049;
}
#kaka {
    visibility:hidden;
    max-height:0px;
}

.container {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    background-image:linear-gradient(#3EB489, #55c5bc);
    font-weight:600;
}

.datum {
    height:10%;
    button {
        border:none;
        padding:0 0.5rem;
        background:none;
        font-weight:bolder;
        font-size:1.5rem;
        transition:200ms;
    }
    button:hover {
        cursor:pointer;
        text-shadow: 0 0 10px #000000b7;
        color:#45a049;
        transition:200ms;
    }
}
#date1 {
    visibility:hidden;
}
.szovegfix {
    width:80%;
    height:10%;
    position:relative;
    border: 2px solid black;
    border-radius:20px;
    
}
#bar {
    height:100%;
    border-radius:19px;
}
#bevitt {
    height:100%;
    width:100%;
    position:absolute;
    top:10%;

}
#felvettLista {
    margin-top:5px;
    height:75%;
    width:100%;
    overflow-y:scroll;
    text-align:left;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    div {
        width:98%;
        background-color:#ffffff33;
        padding:5px 0;
        margin:5px 0;
        position:relative;
        border-radius:5px;
    }
    h1,p {
        padding:0px 20px;
        line-height:100%;
    }
    h1 {
        font-size:1rem;
    }
    p {
        font-size:0.8rem;
        margin-left:10px;
    }
    button {
        position:absolute;
        bottom:20px;
        right:20px;
        border:none;
        background-color:#4CAF50;
        padding:10px;
        border-radius:5px;
        color:white;
    }
    button:hover {
        cursor:pointer;
        color:red;
    }
    button:active {
        background-color:#45a049;
    }

    
}


input {
    margin:5px 0;
    border:none;
    background:#ffffff33;
    text-align:center;
}
.forms,.data {
    margin:50px 20px;
    flex:4;
    padding: 20px;
    background-color: #ffffff11;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 #00000033;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
        width:100%;
    
    }
    position:relative;

}
.data {
    flex:15;
    flex-direction: row;
    #lista,#kor {
        flex:1;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}


input:not([type="submit"]) {
    width: 100%;
    padding: 10px;

    border-radius: 5px;
    box-sizing: border-box;
}
label {
    padding:0;
    margin:0;
}

input[type="submit"] {
    width:100%;
    padding: 10px;
    margin:10px 0;
    
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight:600;
}

.cel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input[type="number"] {
        flex:15;
        margin:5px 20px 5px 0;
    
        border-radius: 5px;
        box-sizing: border-box;
        text-align:center;
    }
    input[type="submit"] {
        flex:1;
    }
}

/*izekorize*/

