@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4CAF50;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #45a049;
}

body, html {
  height: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

hr {
  width: 90%;
  border: 1px solid black;
  border-radius: 8px;
  background-color: Black;
  height: 1px;
}

#valtb {
  margin: 20px 20px;
  width: 85%;
  position: absolute;
  top: 0;
  font-size: 1rem;
  font-weight: 500;
  background-color: #4CAF50;
  padding: 10px;
  color: white;
  border-radius: 5px;
  user-select: none;
}

#valtb:hover {
  cursor: pointer;
}

#valtb:active {
  background-color: #45a049;
}

#kaka {
  visibility: hidden;
  max-height: 0px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  background-image: linear-gradient(#3EB489, #55c5bc);
  font-weight: 600;
}

.datum {
  height: 20%;
}

#bevitt {
  height: 20%;
}

#felvettLista {
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#felvettLista div {
  width: 98%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 0;
  margin: 5px 0;
}
#felvettLista h1, #felvettLista p {
  padding: 0px 20px;
  line-height: 100%;
}
#felvettLista h1 {
  font-size: 1rem;
}
#felvettLista p {
  font-size: 0.8rem;
  margin-left: 10px;
}

input {
  margin: 5px 0;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
}

.forms, .data {
  margin: 50px 20px;
  flex: 4;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.0666666667);
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.forms form, .data form {
  width: 100%;
}

.data {
  flex: 15;
  flex-direction: row;
}
.data #lista, .data #kor {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input:not([type=submit]) {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

label {
  padding: 0;
  margin: 0;
}

input[type=submit] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.cel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cel input[type=number] {
  flex: 15;
  margin: 5px 20px 5px 0;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}
.cel input[type=submit] {
  flex: 1;
}

/*# sourceMappingURL=output.css.map */
